USE [master]
GO
/****** Object:  Database [TalentMarketplacePractice]    Script Date: 16.04.2026 15:21:25 ******/
CREATE DATABASE [TalentMarketplacePractice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TalentMarketplacePractice', FILENAME = N'C:\Users\39323\TalentMarketplacePractice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TalentMarketplacePractice_log', FILENAME = N'C:\Users\39323\TalentMarketplacePractice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TalentMarketplacePractice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TalentMarketplacePractice]
GO
/****** Object:  Table [dbo].[Baskets]    Script Date: 16.04.2026 15:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baskets](
	[IdBasket] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[IsOrdered] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBasket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasketsCatalogs]    Script Date: 16.04.2026 15:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketsCatalogs](
	[IdBasketCatalog] [int] IDENTITY(1,1) NOT NULL,
	[IdBasket] [int] NOT NULL,
	[IdCatalog] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBasketCatalog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogs]    Script Date: 16.04.2026 15:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogs](
	[IdCatalog] [int] IDENTITY(1,1) NOT NULL,
	[Product] [nvarchar](120) NOT NULL,
	[Descripton] [nvarchar](1000) NOT NULL,
	[PhotoPath] [nvarchar](max) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IdCategory] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCatalog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 16.04.2026 15:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[NameCategory] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 16.04.2026 15:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[IdCity] [int] IDENTITY(1,1) NOT NULL,
	[NameCity] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 16.04.2026 15:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdStatusOrder] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersCatalogs]    Script Date: 16.04.2026 15:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersCatalogs](
	[IdOrderCatalog] [int] IDENTITY(1,1) NOT NULL,
	[IdOrder] [int] NOT NULL,
	[IdCatalog] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrderCatalog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 16.04.2026 15:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOrders]    Script Date: 16.04.2026 15:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOrders](
	[IdStatusOrder] [int] IDENTITY(1,1) NOT NULL,
	[NameStatusOrder] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatusOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.04.2026 15:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[NameUser] [nvarchar](50) NOT NULL,
	[IdRole] [int] NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[IdCity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Baskets] ON 

INSERT [dbo].[Baskets] ([IdBasket], [IdUser], [TotalPrice], [IsOrdered], [CreateDate]) VALUES (1, 1, CAST(120000.00 AS Decimal(18, 2)), 1, CAST(N'2026-04-12T20:45:50.633' AS DateTime))
INSERT [dbo].[Baskets] ([IdBasket], [IdUser], [TotalPrice], [IsOrdered], [CreateDate]) VALUES (2, 1, CAST(120000.00 AS Decimal(18, 2)), 1, CAST(N'2026-04-12T20:59:14.350' AS DateTime))
INSERT [dbo].[Baskets] ([IdBasket], [IdUser], [TotalPrice], [IsOrdered], [CreateDate]) VALUES (3, 1, CAST(123.00 AS Decimal(18, 2)), 1, CAST(N'2026-04-16T14:07:58.520' AS DateTime))
SET IDENTITY_INSERT [dbo].[Baskets] OFF
GO
SET IDENTITY_INSERT [dbo].[BasketsCatalogs] ON 

INSERT [dbo].[BasketsCatalogs] ([IdBasketCatalog], [IdBasket], [IdCatalog], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[BasketsCatalogs] ([IdBasketCatalog], [IdBasket], [IdCatalog], [Quantity]) VALUES (2, 2, 1, 1)
INSERT [dbo].[BasketsCatalogs] ([IdBasketCatalog], [IdBasket], [IdCatalog], [Quantity]) VALUES (3, 3, 2, 1)
SET IDENTITY_INSERT [dbo].[BasketsCatalogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Catalogs] ON 

INSERT [dbo].[Catalogs] ([IdCatalog], [Product], [Descripton], [PhotoPath], [Price], [IdCategory]) VALUES (1, N'дерек  Шовин', N'Крутой чувак', N'JACk.jpg', CAST(120000.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[Catalogs] ([IdCatalog], [Product], [Descripton], [PhotoPath], [Price], [IdCategory]) VALUES (2, N'флойдыч', N'ФЕНТАНИЛОВЫЙ БРОСКИ', N'floyd.jpg', CAST(123.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Catalogs] ([IdCatalog], [Product], [Descripton], [PhotoPath], [Price], [IdCategory]) VALUES (3, N'Черный пацак', N'хочу сказать этому обэме', N'obama.jpeg', CAST(1488.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Catalogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([IdCategory], [NameCategory]) VALUES (1, N'дохлый бро')
INSERT [dbo].[Categories] ([IdCategory], [NameCategory]) VALUES (2, N'NIGA KILLA')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([IdCity], [NameCity]) VALUES (1, N'Москва')
INSERT [dbo].[Cities] ([IdCity], [NameCity]) VALUES (2, N'Санкт-Петербург')
INSERT [dbo].[Cities] ([IdCity], [NameCity]) VALUES (3, N'Казань')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([IdOrder], [IdUser], [IdStatusOrder], [Data], [Price]) VALUES (1, 1, 3, CAST(N'2026-04-12T20:59:10.807' AS DateTime), CAST(120000.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([IdOrder], [IdUser], [IdStatusOrder], [Data], [Price]) VALUES (2, 1, 1, CAST(N'2026-04-14T00:00:00.000' AS DateTime), CAST(1000.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([IdOrder], [IdUser], [IdStatusOrder], [Data], [Price]) VALUES (3, 1, 1, CAST(N'2026-04-16T14:07:56.120' AS DateTime), CAST(120000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdersCatalogs] ON 

INSERT [dbo].[OrdersCatalogs] ([IdOrderCatalog], [IdOrder], [IdCatalog], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[OrdersCatalogs] ([IdOrderCatalog], [IdOrder], [IdCatalog], [Quantity]) VALUES (2, 3, 1, 1)
INSERT [dbo].[OrdersCatalogs] ([IdOrderCatalog], [IdOrder], [IdCatalog], [Quantity]) VALUES (3, 4, 2, 1)
SET IDENTITY_INSERT [dbo].[OrdersCatalogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRole], [NameRole]) VALUES (1, N'Покупатель')
INSERT [dbo].[Roles] ([IdRole], [NameRole]) VALUES (2, N'Администратор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusOrders] ON 

INSERT [dbo].[StatusOrders] ([IdStatusOrder], [NameStatusOrder]) VALUES (1, N'Новая')
INSERT [dbo].[StatusOrders] ([IdStatusOrder], [NameStatusOrder]) VALUES (2, N'В работе')
INSERT [dbo].[StatusOrders] ([IdStatusOrder], [NameStatusOrder]) VALUES (3, N'Закрыта')
SET IDENTITY_INSERT [dbo].[StatusOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IdUser], [NameUser], [IdRole], [Password], [Email], [IdCity]) VALUES (1, N'admin', 2, N'admin123', N'admin@practice.local', 1)
INSERT [dbo].[Users] ([IdUser], [NameUser], [IdRole], [Password], [Email], [IdCity]) VALUES (2, N'user1', 1, N'user123', N'user1@practice.local', 2)
INSERT [dbo].[Users] ([IdUser], [NameUser], [IdRole], [Password], [Email], [IdCity]) VALUES (3, N'ROMA', 1, N'123123', N'123@Gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Baskets] ADD  CONSTRAINT [DF_Baskets_TotalPrice]  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[Baskets] ADD  CONSTRAINT [DF_Baskets_IsOrdered]  DEFAULT ((0)) FOR [IsOrdered]
GO
ALTER TABLE [dbo].[Baskets] ADD  CONSTRAINT [DF_Baskets_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[BasketsCatalogs] ADD  CONSTRAINT [DF_BasketsCatalogs_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Data]  DEFAULT (getdate()) FOR [Data]
GO
ALTER TABLE [dbo].[OrdersCatalogs] ADD  CONSTRAINT [DF_OrdersCatalogs_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Baskets]  WITH CHECK ADD  CONSTRAINT [FK_Baskets_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Baskets] CHECK CONSTRAINT [FK_Baskets_Users]
GO
ALTER TABLE [dbo].[BasketsCatalogs]  WITH CHECK ADD  CONSTRAINT [FK_BasketsCatalogs_Baskets] FOREIGN KEY([IdBasket])
REFERENCES [dbo].[Baskets] ([IdBasket])
GO
ALTER TABLE [dbo].[BasketsCatalogs] CHECK CONSTRAINT [FK_BasketsCatalogs_Baskets]
GO
ALTER TABLE [dbo].[BasketsCatalogs]  WITH CHECK ADD  CONSTRAINT [FK_BasketsCatalogs_Catalogs] FOREIGN KEY([IdCatalog])
REFERENCES [dbo].[Catalogs] ([IdCatalog])
GO
ALTER TABLE [dbo].[BasketsCatalogs] CHECK CONSTRAINT [FK_BasketsCatalogs_Catalogs]
GO
ALTER TABLE [dbo].[Catalogs]  WITH CHECK ADD  CONSTRAINT [FK_Catalogs_Categories] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Categories] ([IdCategory])
GO
ALTER TABLE [dbo].[Catalogs] CHECK CONSTRAINT [FK_Catalogs_Categories]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_StatusOrders] FOREIGN KEY([IdStatusOrder])
REFERENCES [dbo].[StatusOrders] ([IdStatusOrder])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_StatusOrders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[OrdersCatalogs]  WITH CHECK ADD  CONSTRAINT [FK_OrdersCatalogs_Catalogs] FOREIGN KEY([IdCatalog])
REFERENCES [dbo].[Catalogs] ([IdCatalog])
GO
ALTER TABLE [dbo].[OrdersCatalogs] CHECK CONSTRAINT [FK_OrdersCatalogs_Catalogs]
GO
ALTER TABLE [dbo].[OrdersCatalogs]  WITH CHECK ADD  CONSTRAINT [FK_OrdersCatalogs_Orders] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Orders] ([IdOrder])
GO
ALTER TABLE [dbo].[OrdersCatalogs] CHECK CONSTRAINT [FK_OrdersCatalogs_Orders]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Cities] FOREIGN KEY([IdCity])
REFERENCES [dbo].[Cities] ([IdCity])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Cities]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([IdRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
